<div class="login_container">
  <div class="login_frame">
    <p class="login_title">ログイン</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <ul>
        <li>
          <p class="mandatory">必須</p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class:"user_input_form" %>
        </li>

        <li>
          <p class="mandatory">必須</p>
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード", class:"user_input_form" %>
        </li>
      
        <li>
          <%= f.submit "ログイン", class:"button login_button" %>
        </li>
        
        <li>
          <%= link_to "新しいアカウントを作成", new_user_registration_path, class:"new_account" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>


