<div class="new-room-nav">
  <div class="side_menu">
    <%= link_to "基本情報", new_room_path, class:"room_information" %>
  </div>
  <div class="room_register">
    <div class="room_register_box">
      <h3>ルーム情報登録</h3>
        <%= form_for(@room) do |f| %>
          <div class="update_content">
            <ul>
              <li>
                <h5>ルーム名</h5>
                <p class="mandatory">必須</p>
                <%= f.text_field :room_name, placeholder:"ルーム名を入力", class:"new_room_area" %>
              </li>
              <li>
                <h5>ルーム紹介</h5>
                <p class="mandatory">必須</p>
                <%= f.text_field :room_introduction, placeholder:"ルーム説明を入力", class:"new_room_area" %>
              </li>
              <li>
                <h5>料金</h5>
                <p class="mandatory">必須</p>
                <%= f.text_field :price, placeholder:"一日あたりの料金を入力", class:"new_room_area" %>
              </li>
              <li>
                <h5>住所</h5>
                <p class="mandatory">必須</p>
                <%= f.text_field :address, placeholder:"住所を入力", class:"new_room_area" %>
              </li>
              <li>
                <h5>ルーム画像</h5>
                <p class="mandatory">必須</p>
                <%= f.file_field :room_image, %>
              </li>
              <%= f.submit "登録", class: "button submit_button" %>
            </ul>
          </div>
    </div>
  </div>
</div>