<!DOCTYPE html>
<html>
  <head>
    <title>RoomApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left-nav">
        <%= link_to root_path do %>
          <img alt="サイトのロゴ画像" src="	https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png">
        <% end %>
        <div class="header-search">
          <input>
          <input>
        </div>
      </div>
      <div class="header-right-nav">
        <% if @current_user %>
          <%= link_to @current_user.name, "/users/#{@current_user.id}/edit" %>
          <%= link_to "ログアウト", users_logout_path, {method:"post"} %>
        <% else %>
          <%= link_to "ログイン", users_login_path, class:"login-button"%>
        <% end %>
        <%= link_to "登録する", :new_user, class:"register-button" %>
      </div>
    </header>
    
    <%= yield %>
    
    <footer>
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>

